<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RCPConnectionStr" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\RCP.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GratyfConString" connectionString="Data Source=;Initial Catalog=;"
            providerName="System.Data.SqlClient" />
        <add name="rcpracy.Properties.Settings.RCPConnectionStr" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\RCP.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
